* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.thisIs {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
